body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url(http://st2.depositphotos.com/1079778/9414/v/170/depositphotos_94143600-Light-grey-and-white-geometric.jpg);
  margin-left: 20px;
}

h1 {
  font-size: 50px;
}
#search {
    height: 35px;
    width: 70px;
    border-radius: 5px;
    background-color: mistyrose;
    text-align: center;
    color: black;
    opacity: 1.0;
    font-size: 17px;
}

.searchbox{
  height: 30px;
  width: 250px;
  font-size: 20px;
}

#text {
  font-size: 24px;
  margin-bottom: 20px;
  width: 500px;
}

.movies {
  font-size: 20px;
}

p {
  background-color: mistyrose;
  width: 400px;
  border: 1px solid black;
  padding: 10px;
  transition: .3s;
}

p:hover {
transform: translateY(0.3em);
opacity: 0.5;
}
